*:not(.icon) {
  font-family: "Karla", Arial, Helvetica, sans-serif !important;
  font-size: 1em!important;
}

.wrapper {
  margin: 20px;
  padding-bottom: 100px;
}

.container {
  margin: auto;
}

@media only screen and (min-width: 600px) {
  .container {
    min-width: 720px;
    width: 40%;
  }
}

.extraspace {
  margin-bottom: 20px !important;
}

#severity-container {
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}

img {
  display: block;
  margin: auto;
}

#logo {
  max-width: 150px;
  margin-bottom: 30px;
}

.title {
  font-size: 1.7em !important;
}

#plantGuide,
#plantIdentifier,
#clearUserInfoBtn {
  padding: 10px;
  background-color: #fafafa;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  width: 50%;
  font-size: .85em!important;
}

#plantOptions {
  display: flex;

}

#uploadedFilePath {
  opacity: 0.6;
  margin-top: 5px;
}

#successMessage,
#hidden-new-file {
  display: none;
}

#clearUserInfoBtn {
  display: none;
  cursor: pointer;
  color: red;
}

#map { height: 180px; margin-bottom: 20px;}

.leaflet-control-attribution {
  display:none!important
}